In [6]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [7]:
csv1 = os.path.join('Resources', 'clean_hawaii_measurements.csv')
csv2 = os.path.join('Resources', 'hawaii_stations.csv')

In [8]:
measure_pd = pd.read_csv(csv1)
stations_pd = pd.read_csv(csv2)

In [11]:
measure_pd.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [13]:
stations_pd.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [9]:
measure_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [10]:
stations_pd.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [17]:
Base = declarative_base():

In [18]:
class Measurement(Base):
    __tablename__ = 'Measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [19]:
class Stations(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [21]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [22]:
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [24]:
measure_pd.to_sql(con=engine, name='Measurement', if_exists='append', index=False)

In [25]:
stations_pd.to_sql(con=engine, name='Stations', if_exists='append', index=False)